<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Workouts</h1>
    <a href="/<%= userId %>/workouts/workout" class="btn">Back Day</a>
    <a href="/<%= userId %>/workouts/new" class="btn">New Workout</a>
</body>
</html>