<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
    <!-- HTML -->
    <main class="outermost-box">
        <!-- Header and Menu Button -->
        <header class="logo-and-menu">
            <img src="/images/Logo.png" alt="Hive Heading" class="hive-heading">
            <button class="image-button" aria-label="Menu"></button>
        </header>

        <!-- ebpage Content Outermost Box -->
        <div class="main-box">

        </div>
    </main>

    <!-- Javascript Functionality -->
    <script>
    </script> 
</body>
</html>