<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hive</title>
    <link rel="stylesheet" href="./css/style.css">
    <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->
    <SpeedInsights/>
  </head>
  <body>
    <div class="corner-image top-left-image">
      <img src="/images/track_nobackground.png" alt="Top Left Image">
    </div>
    <div class="corner-image top-right-image">
      <img src="/images/woman_side_profile_nobackground.png" alt="Top Right Image">
    </div>
    <main>
      <div>
        <img src="/images/Logo.png" alt="Hive Logo">
      </div>
        <h1>Unleash Your Potential,</h1>
        <h1 class="hive-heading">Join the HIVE <img class="hivemascot" src="/images/HiveMascot.png" alt="Hive Mascot"></h1>
    </main>
    <div>
      <a href="/login" class="landing-btn">Log In</a>
      <a href="/signup" class="landing-btn">Sign Up</a>
    </div>
    <div class="corner-image bottom-left-image">
      <img src="/images/street_man_nobackground.png" alt="Bottom Left Image">
    </div>
    <div class="corner-image bottom-right-image">
      <img src="/images/stretching_prosthetic_nobackground.png" alt="Bottom Right Image">
    </div>
  </body>
</html>
