<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Hive</title>
  <link rel="stylesheet" href="/css/style.css">
  <script>
    const clerkPublishableKey = 'pk_test_aWRlYWwtc2F0eXItODAuY2xlcmsuYWNjb3VudHMuZGV2JA';
    console.log('Clerk publishable key:', clerkPublishableKey);
</script>
<script
    async
    crossorigin="anonymous"
    src="https://ideal-satyr-80.clerk.accounts.dev/npm/@clerk/clerk-js@4/dist/clerk.browser.js"
    onload="window.Clerk.load({ publishableKey: clerkPublishableKey })"
    data-clerk-publishable-key="pk_test_aWRlYWwtc2F0eXItODAuY2xlcmsuYWNjb3VudHMuZGV2JA">
</script>
</head>
<body>
  <div class="corner-image top-left-image">
    <img src="/images/track_nobackground.png" alt="Top Left Image">
  </div>
  <div class="corner-image top-right-image">
    <img src="/images/woman_side_profile_nobackground.png" alt="Top Right Image">
  </div>
  <div class="login-container">
    <h1>Welcome to Hive <img class="hivemascot" src="/images/HiveMascot.png" alt="Hive Mascot"></h1>
    <div id="sign-in"></div>
    <div id="error-message" style="color: red;"></div>
    <p class="signup-link">
      Don't have an account? <a class="btn" href="/signup">Sign Up</a>
    </p>
  </div>
  <div class="corner-image bottom-left-image">
    <img src="/images/street_man_nobackground.png" alt="Bottom Left Image">
  </div>
  <div class="corner-image bottom-right-image">
    <img src="/images/stretching_prosthetic_nobackground.png" alt="Bottom Right Image">
  </div>
  <script>
    window.addEventListener('load', async function() {
        try {
            await window.Clerk.load();
            const signInDiv = document.getElementById('sign-in');
            window.Clerk.mountSignIn(signInDiv);
            console.log('Clerk mounted successfully');
        } catch (error) {
            console.error('Error initializing Clerk:', error);
            document.getElementById('error-message').textContent = 'Error initializing login. Please try again later.';
        }
    });
</script>
</body>
</html>
