<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="corner-image top-left-image">
        <img src="/images/track_nobackground.png" alt="Top Left Image">
      </div>
      <div class="corner-image top-right-image">
        <img src="/images/woman_side_profile_nobackground.png" alt="Top Right Image">
      </div>
      <div class="login-container">
        <img src="/images/Logo.png" alt="Hive Logo" class="logo-image">
        <!-- <h1>Welcome to Hive <img class="hivemascot" src="/images/HiveMascot.png" alt="Hive Mascot"></h1> -->
        <h1>Welcome to</h1>
        <h1 class="highlighted-text">HIVE <img class="hivemascot" src="/images/HiveMascot.png" alt="Hive Mascot"></h1>
        <form method="POST" action="/login">
            <label>
                Enter your email
                <input type="email" name="email" required />
            </label>
            <label>
                Enter your password
                <input type="password" name="password" required />
            </label>
            <button type="submit" class="btn">Log In</button>
        </form>
        <!-- <button onclick="loginWithFirebase()" class="btn">Log In With Google</button> -->
        <p class="signup-link">
            Don't have an account? <a class="signupbtn" href="/signup">Sign Up</a>
        </p>
    </div>
    <div class="corner-image bottom-left-image">
        <img src="/images/street_man_nobackground.png" alt="Bottom Left Image">
    </div>
    <div class="corner-image bottom-right-image">
        <img src="/images/stretching_prosthetic_nobackground.png" alt="Bottom Right Image">
    </div>
</body>
</html>
