<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pain Management</h1>
    <a href="/user/dashboard" class="btn">Back to dashboard</a>
    <form method="POST" action="/painpoints">
        <label>
            regions of pain
            <input type="text" name="painregion"/>
        </label></form></br>
        <label>
            pain level
            <input type="text" name="painlevel"/>
        </label></br>
        <!-- <button type="submit">Submit</button> -->
    </form>
    <a href="/user/painpoints" class="btn">Submit</a>
</body>
</html>