<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locations</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Use relative path -->
</head>
<body>
    <main class="outermost-box">
        <!-- Header: Image & Menu Button -->
        <header class="logo-and-menu">
            <img src="/images/Logo.png" alt="Hive Heading" class="hive-heading">
            <button class="image-button" aria-label="Menu"></button>
        </header>
        
        <main class="main-box">
            <div class="location-heading">
                <h1>Locations</h1>
                <a href="/user/locations/new" class="add-button"></a>
            </div>

            <!-- Locations: Outermost Rectangular Box  -->
            <div class="location-content">
                <% locationsList.forEach(location => { %>
                <div class="ind-location">
                    <header class="ind-location-header">
                        <h2><%= location.locationName %></h2>
                        <a href="/user/locations/location" alt="Edit" class="edit-button"></a>
                    </header>

                    <section class="ind-location-content">
                        <div class="ind-location-content-location">
                            <% if (location.equipmentAvailable && location.equipmentAvailable.length > 0) { %>
                                <% location.equipmentAvailable.forEach(item => { %>
                                    <p class="equipment-text"><%= item %></p>
                                <% }) %>
                            <% } else { %>
                                <p class="equipment-text">No equipment available</p>
                            <% } %>
                        </div>
                    </section>
                </div>
                <% }) %>
            </div>
        </main>
    </main>
</body>
</html>
